@{
    ViewData["Title"] = "Jordan-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="view" id="jordan-index-view">


    <div class="navbar">
        <h2>Welcome to Jordania</h2>
        <p id="view-repos">Repos.</p>

        @*Github API return*@

        <div id="repos-container">
            <div id="close-repos">X</div>
            @if (@ViewBag.StarredRepos.Count > 0)
            {
                @foreach (var repo in ViewBag.StarredRepos)
                {
                    @if (repo.stargazers_count != "0")
                    {
                        <hr />
                        <div class="repos" id="@repo.name">
                            <p>Check Out <a href="@repo.html_url">@repo.name</a></p>
                            <p>Star Count:@repo.stargazers_count</p>
                        </div>
                    }
                }
            }
            else
            {
                <p>There are 0 starred repositories</p>
            }
        </div>
    </div>

    <div class="main">
        <p>Some text some text some text some text..</p>
    </div>
</div>



