@{
    ViewData["Title"] = "Jordan-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Welcome to Jordania</p>

<div id="repos-box">
    
    <p id="view-repos">Click here to view my starred repos.</p>
    
    <div id="repo-container">
        @if (@ViewBag.StarredRepos.Count > 0)
        {
            @foreach (var repo in ViewBag.StarredRepos)
            {
                @if (repo.stargazers_count != "0")
                {
                    <div class="repos" id="@repo.name">
                        <p>Project Name: @repo.name</p>
                        <a href="@repo.html_url">Link</a>
                        <p>Star Count:@repo.stargazers_count</p>
                    </div>
                    <hr />
                }
            }
        }
        else
        {
            <p>There are 0 starred repositories</p>
        }
    </div>
</div>

