@{
    ViewData["Title"] = "Jordan-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Jordania.Models.Repos

<p>Welcome to Jordania</p>

@using (Html.BeginForm())
{
    <input type="hidden" id="" value="jordloop" name="userName" />
    <input type="hidden" id="" value="stars" name="sortBy" />
    <input type="submit" value="Get" />
}

@if(@ViewBag.StarredRepos > 0)
{
    @foreach (var repo in ViewBag.StarredRepos)
    {
        <p>repo.name</p>
        <p>repo.html_url</p>
        <p>repo.stargazers_count</p>
    }
}
else
{
<p>Call Api to see repos</p>
}