@{
    ViewData["Title"] = "Jordan-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Welcome to Jordania</p>

@if (@ViewBag.StarredRepos.Count > 0)
{ 
    @foreach (var repo in ViewBag.StarredRepos)
    {
        <p>@repo.name</p>
        <p>@repo.html_url</p>
            <p>@repo.stargazers_count</p>
    }
}
else
{
    <p>Null</p>
}
