html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: lightcyan;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.navbar {
    color: whitesmoke;
    text-align: center;
    overflow: hidden;
    float: left;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    vertical-align: middle;
}
.navbar a {
    vertical-align:  middle;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.repos {
    height: auto;
    width: 95%;
    left:  0;
    display: flex;
    flex-wrap: wrap;
    border: solid whitesmoke 1px;
    margin: 15px;
    border-radius: 15px;
}
.repos * {
   color: whitesmoke;
   text-align: left; 
}
.description {
    width: 100%;
    padding-left: 10%;
}
.stars {
    padding: 15px;
}
.language {
    padding-top:15px;
}
.link {
    border: solid whitesmoke 1px;
    border-radius: 10px;
    box-shadow: 3px 1px 1px whitesmoke;}
.logo {
    margin: 15px;
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
    border-radius: 10px;
}

.main-content {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    padding-top: 10%;
    text-align: center;
    float: right;       
    overflow: hidden;
    position: absolute;
    right: 10%;
    top: 0;
    bottom: 0;
    border: solid red 1px;
}

