html{ 
    width: 100%;
    height: 100%;
}
body { 
    background-color: lightcyan;
    width: 100%;
    height: 100%;
    margin: 0;
}

.jordan-index-view {

}
#repos-box{
    padding: 10px;
    width: 30%;
    height: 100%;
    float: left;
}

#repos-container {
    width: 100%;
    height: 100%;
    bottom: 0;
    flex-direction: column;
}

.repos {
    height: 25%;
    width: 100%;
    left:  0;
    display: flex;
    flex-wrap: wrap;
    align-content:  space-around;
}

.repos * {
    color: whitesmoke;
   text-align: left; 
   border: solid blue 1px;
}

.main-content {
    width: 70%;
    height: 100%;
    text-align: center;
    float: right;
    top: 0;
}

.navbar {
    text-align: center;
    overflow: hidden;
    float: left;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    vertical-align: middle;
}

.navbar a {
    vertical-align:  middle;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}