@{
    ViewData["Title"] = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/LandingStyle.css" rel="stylesheet" />

<div class="landing-container">
    <div id="image-container">
        <div id="title">
            <h1>Welcome to Jordania</h1>
        </div>
        <p class="enter">@Html.ActionLink("Repos", "Index", "Jordan")</p>
    </div>
</div>