@{
    ViewData["Title"] = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/LandingStyle.css" rel="stylesheet" />

<div class="landing-container">
    <a href="/Jordan">
        <img width="400" height="400" src="~/img/NOwhitelogo.png" />
    </a>
</div>