<!DOCTYPE html>

<html>
<head>
    <link href="~/CSS/MainStyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#repos-container').hide();
            //$('.repos').hide();

            $('#view-repos').click(function () {
                $('#repos-container').animate({ width: 'toggle' });
                //$('.repos').fadeIn();

            });                        
        });
    </script>

    <div id="main-container">
        @RenderBody()
    </div>
</body>
</html>


