<!DOCTYPE html>

<html>
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/js/JavaScript.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
