<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            //clicked = $(this)[0].id;
            $('#repo-container').hide();
            $('.repos').hide();



            $('#view-repos').click(function () {
                $('#repo-container').animate({ width: 'toggle' });
                $('.repos').fadeIn(1200);

            });                        
        });
    </script>


    <div>
        @RenderBody()
    </div>
</body>
</html>


